.image-little{
    width: 10.5em;
}

.bold-roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: black;
}

.bold-roboto .form-row .col label{
    font-size: 14px;
}

.grey-subtitle{
    color: rgb(98, 92, 95);
    font-size:15px;
}

.rounded-large{
    border-radius: 20px;
}

img{
    max-width: 30em;
    max-height:22.5em ;
}
#image-body img{
    min-width: 340px;
    min-height: 300px;
}

.button-submit{
    background-color: rgb(225,60,100);
    border-radius:20px;
    color:white;
    font-weight: 600;
    font-size:14px;
}

.bg-sigma{
    background-color: rgb(225,60,100);
}